<h1>Alejandra Poleth</h1>
<p>Find me in app/views/pages/paginax.html.erb</p>

<%= form_for @user do |f| %>
    <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :age %>
  <%= f.text_field :age %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit %>
<% end %>